[Unit]
Description=MySQL Server
After=network.target
After=syslog.target

[Service]
Type=forking
TimeoutSec=0
PermissionsStartOnly=true
ExecStart={{ mysql_binary_install_dir }}/mysql/bin/mysqld --defaults-file={{ mysql_binary_install_dir }}/mysql/my.cnf --user=mysql --daemonize
Restart=on-failure
RestartPreventExitStatus=1
PrivateTmp=false

[Install]
WantedBy=multi-user.target
